
client/node_modules/
client/bower_components/
client/coverage/
client/.sass-cache/
client/.idea/
client/.tmp/
client/dist/
backend/node_modules/
backend/bower_components/

*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log


