<div class="fixed-container" layout="column" layout-fill ayout="row" layout-align="center end">
    <md-toolbar>
        <div class="md-toolbar-tools">
        	<div flex="15">
                <a ui-sref="home" flex layout="row" layout-align="start center">
                    <md-icon flex layout="row" layout-align="start center">
                        <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
                        </svg>
                    </md-icon>
                </a>
        	</div>
        	<div flex="70">
        		<span class="md-title" layout="row" layout-align="center center">{{airConditioner.title}}</span>
        	</div>
        	<div flex="15" layout="row" layout-align="end center">
                <a flex layout="row" layout-align="end center">
                    <md-icon flex layout="row" layout-align="end center">
                        <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0-6c-.83 0-1.5.67-1.5 1.5S3.17 7.5 4 7.5 5.5 6.83 5.5 6 4.83 4.5 4 4.5zm0 12c-.83 0-1.5.68-1.5 1.5s.68 1.5 1.5 1.5 1.5-.68 1.5-1.5-.67-1.5-1.5-1.5zM7 19h14v-2H7v2zm0-6h14v-2H7v2zm0-8v2h14V5H7z"/>
                            <path d="M0 0h24v24H0V0z" fill="none"/>
                        </svg>
                    </md-icon>
                </a>
            </div>
        </div>
    </md-toolbar>
    <md-content class="fixedUI" flex="100" layout="column" layout-align="end" layout-padding layout-fill> 
    	<div flex="100" layout="row" layout-align="center center">
    		<div flex="20" layout="row" layout-align="center center">
                <md-button class="md-fab md-primary md-mini decreaseTemp" ng-click="airConditioner.modifyTemperature('decrease')" aria-label="Reduce Button">
                    <md-icon>
                        <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 13H5v-2h14v2z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </md-icon>
                </md-button>
            </div>
    		<div flex="60">
    			<div class="temperatureUI" flex="100">
                    <div>
                        <h3 ng-style="airConditioner.temperatureStyle">
                            {{airConditioner.temperatureValue}}
                            <span>&#x2103;</span>
                        </h3>
                        
                    </div>
                </div>
    		</div>
            <div flex="20" layout="row" layout-align="center center">
                <md-button class="md-fab md-mini md-primary increaseTemp" ng-click="airConditioner.modifyTemperature('increase')" aria-label="Increase Button">
                    <md-icon>
                        <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </md-icon>
                </md-button>
            </div>
    	</div>
    	<div flex="100" layout="column" layout-align="center center">
            <h3 flex="100" layout="row" layout-align="center center">Mode</h3>
            <div flex="100" layout="row" layout-align="space-around center">
                <div layout="column" layout-align="center center" flex>
                    <md-button class="md-fab md-mini md-primary" aria-label="Cool" ng-class="airConditioner.modeButton == 'cool' ? 'highlight-button' : ''" ng-click="airConditioner.modifyTemperature('cool', 'mode')" flex>
                        <md-icon md-svg-src="assets/images/snowflake.svg"></md-icon>
                    </md-button>
                    <h4 flex>Cool</h4>
                </div>
                <div layout="column" layout-align="center center" flex>
                    <md-button class="md-fab md-mini md-primary" aria-label="Dry" ng-class="airConditioner.modeButton == 'dry' ? 'highlight-button' : ''" ng-click="airConditioner.modifyTemperature('dry', 'mode')" flex>
                        <md-icon md-svg-src="assets/images/drop.svg"></md-icon>
                    </md-button>
                    <h4 flex>Dry</h4>
                </div>
                <div layout="column" layout-align="center center" flex>
                    <md-button class="md-fab md-mini md-primary" aria-label="Heat" ng-class="airConditioner.modeButton == 'heat' ? 'highlight-button' : ''" ng-click="airConditioner.modifyTemperature('heat', 'mode')" flex>
                        <md-icon md-svg-src="assets/images/heat.svg"></md-icon>
                    </md-button>
                    <h4 flex>Heat</h4>
                </div>
            </div>
    	</div>
        <div flex="100" layout="column" layout-align="center center">
            <h3 flex="100" layout="row" layout-align="center center">Fan Speed</h3>
            <div flex="100" layout="row" layout-align="center center">
                <div class="fan-icon-container">
                    <md-icon ng-style="airConditioner.fanStyle" md-svg-src="assets/images/fan.svg"></md-icon>
                </div>
            </div>
            <div flex="100" layout="row" layout-align="space-around center">
                <md-button class="md-raised md-primary roundCorner-button" ng-class="airConditioner.fanSpeedButton == 'low' ? 'highlight-button' : ''" ng-click="airConditioner.modifyTemperature('low', 'fan')">Low</md-button>
                <md-button class="md-raised md-primary roundCorner-button" ng-class="airConditioner.fanSpeedButton == 'mid' ? 'highlight-button' : ''" ng-click="airConditioner.modifyTemperature('mid', 'fan')">Mid</md-button>
                <md-button class="md-raised md-primary roundCorner-button" ng-class="airConditioner.fanSpeedButton == 'high' ? 'highlight-button' : ''" ng-click="airConditioner.modifyTemperature('high', 'fan')">High</md-button>
            </div>
        </div>
	</md-content>
</div>