 <div layout="row" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
        	<div flex="15">
        		<md-icon>
        		  <a ui-sref="home">
        			<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				    <path d="M0 0h24v24H0z" fill="none"/>
				    <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
				    </svg>
				  </a>
        		</md-icon>
        	</div>
        	<div flex="70">
        		<span class="md-title" layout="row" layout-align="center center">Television</span>
        	</div>
        	<div flex="15">
        		
        	</div>
        </div>
    </md-toolbar>
</div>
<br>


 <div ng-show="toggle" id="div1"> 
		 <div layout="row" layout-align="center">
		    	 <md-button class="md-warn md-fab">
		    	 <i class="material-icons">power_settings_new</i>
		           <!-- <md-icon md-svg-src="../../assets/images/add.svg"></md-icon> -->
		         </md-button>
		 </div>
		 <div layout="row" layout-align="center">
		    	 <md-button id="btn1" class="md-primary md-fab">
		           CH+
		         </md-button>
		 </div>
		 <div layout="row" layout-align="center">
				<md-button class="md-primary md-fab" id="btn2">
				        VOL+
				</md-button>
				<md-button class="md-primary md-fab">
				        OK
				</md-button>
				<md-button class="md-primary md-fab">
				        VOL-
				</md-button>
		 </div>
         <div layout="row" layout-align="center">
			   <md-button class="md-primary md-fab">
			        CH-
			   </md-button>
	      </div>
	      <div layout="row" layout-align="center">
	      		<md-button class="md-black md-raised" >Menu</md-button>
	      		<md-button class="md-black md-raised" >Exit</md-button>
	      		<md-button class="md-black md-raised" >Mute</md-button>
	      </div>
	      <div layout-align="center" layout="row">
	            <md-button  ng-click="toggle = !toggle"><b>^</b></md-button>
          </div>
</div>

<!-- dial 2nd view -->
<div ng-hide="toggle" ng-animate="'box'" id="div2">
    <div layout="row" layout-align="center">
			<md-button class="md-Flat" ng-click="toggle = !toggle">
			        x
			</md-button>
	</div>

    <div layout="row" layout-align="center">
      <md-button class="md-primary md-fab">
        1
      </md-button>
      <md-button class="md-primary md-fab">
        2
      </md-button>
      <md-button class="md-primary md-fab">
        3
      </md-button>
    </div>
	<div layout="row" layout-align="center">
			<md-button class="md-primary md-fab">
			        4
			</md-button>
			<md-button class="md-primary md-fab">
			        5
			</md-button>
			<md-button class="md-primary md-fab">
			        6
			</md-button>
	</div>
	<div layout="row" layout-align="center">
			<md-button class="md-primary md-fab">
			        7
			</md-button>
			<md-button class="md-primary md-fab">
			        8
			</md-button>
			<md-button class="md-primary md-fab">
			        9
			</md-button>
    </div>

	<div layout="row" layout-align="center">
			<md-button class="md-primary md-fab">
			        0
			</md-button>
	</div>

</div>



<style type="text/css">

/*.btn1 {
   width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 100px solid red;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  
}*/

/*#btn1 {
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 100px solid rgb(0,150,136);
  border-top-left-radius: 5em;
  border-top-right-radius: 5em;
 
  
}

#btn2 {
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  border-left: 100px solid rgb(0,150,136);
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
  
  
}*/



/*.ng-hide-remove { animation:0.5s flipInX ease; }
*/
/*.ng-hide-remove { animation-duration: 0.4s;
	              animation-name: flipInX;
	              
	              
                  }
#div1 {
	
	max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
#div2 {
	animation-timing-function: ease;
	max-width: 100%;
    height: auto;
}
.md-button.md-black{
	                 background-color: rgba(0,0,0,0.55);
                     color: rgb(33,33,33);
                     padding: 4px !important;
                     width: 0px !important;
                    } */


</style>
